<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{config.titulo}}</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive-sm">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th *ngFor="let itemHeader of header">{{itemHeader.value}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemData of data">
                  <td 
                    *ngFor="let itemHeader of header"
                    [ngClass]="{'error-data-item': itemData.type == 'error'}"
                  >
                    <span [ngClass]="{'number': itemData[itemHeader.id].type == 'number'}">
                    {{itemData[itemHeader.id].value}}
                    </span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th *ngFor="let itemFoter of footer">{{itemFoter.value}}</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="card-footer">
        
          <vrl-btnloader 
            label="Eliminar"
            loading=false
            iconbtn="fas fa-erase"
            classbtn="btn-outline-danger float-right"
            iconpos="right"
            (click)="handleClickDelete($event)" 
          >
          </vrl-btnloader>

          <vrl-btnloader 
            label="Editar"
            loading=false
            iconbtn="fas fa-save"
            classbtn="btn-outline-primary float-right"
            iconpos="right"
            (click)="handleClickUpdate($event)" 
          >
          </vrl-btnloader>

          <vrl-btnloader 
            label="Nuevo"
            loading=false
            iconbtn="fas fa-file"
            classbtn="btn-outline-primary btn-actions float-right"
            iconpos="right"
            (click)="handleClickAdd($event)" 
          >
          </vrl-btnloader>

        </div>
      </div>
    </div>
  </div>
</div>
