<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">DataTable with minimal features & hover style</h3>
        </div>
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Enunciado prueba 1</th>
                <th>Enunciado prueba 2</th>
                <th>Enunciado prueba 3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Valor prueba 1.1</td>
                <td>Valor prueba 1.2</td>
                <td>Valor prueba 1.3</td>
              </tr>
              <tr>
                <td>Valor prueba 2.1</td>
                <td>Valor prueba 2.2</td>
                <td>Valor prueba 2.3</td>
              </tr>
              <tr>
                <td>Valor prueba 3.1</td>
                <td>Valor prueba 3.2</td>
                <td>Valor prueba 3.3</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>foot prueba 1</th>
                <th>foot prueba 2</th>
                <th>foot prueba 3</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="card-footer">
          Aquí meter los botones predeterminados
        </div>
      </div>
    </div>
  </div>
</div>
