<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">prueba data table</h3>
        </div>
        <div class="card-body">
          <div class="table-responsive-sm">

            <div class="card card-primary">
              <form role="form">
                <div class="card-body">
                  <ng-content select="[frmFilter]"></ng-content>
                </div>
              </form>
            </div>

            <table #dataTable class="table table-bordered table-hover" style="width:100%">
            </table>
          </div>
        </div>
        <div class="card-footer clearfix">

          <vrl-btnloader *ngIf="showButtons.del"
            id="btnDel"
            label="Eliminar"
            loading=false
            iconbtn="fas fa-trash"
            classbtn="btn-outline-danger float-right"
            iconpos="right"
            (click)='handleClickButton("del")'
            btndisabled= true
          >
          </vrl-btnloader>

          <vrl-btnloader *ngIf="showButtons.upd"
            id="btnUpd"
            label="Modificar"
            loading=false
            iconbtn="fas fa-edit"
            classbtn="btn-outline-primary float-right"
            iconpos="right"
            (click)='handleClickButton("upd")'
            btndisabled=true
          >
          </vrl-btnloader>

          <vrl-btnloader *ngIf="showButtons.add"
            id="btnAdd"
            label="Nuevo"
            loading=false
            iconbtn="fas fa-plus-square"
            classbtn="btn-outline-primary float-right"
            iconpos="right"
            (click)='handleClickButton("add")'
            btndisabled=false
          >
          </vrl-btnloader>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="dtModal" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Large Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content select="[dtModal]"></ng-content>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


